/* AppointmentDetail.css */
.appointmentDetailContainer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #333;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .appointmentInfo p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  strong {
    color: #007bff;
  }
  